<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:rgb(255, 244, 87); margin-left: 7%; font-weight: 500;">SindiCon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"><span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="buscaSindico(palavraChave.value)" #palavraChave="ngModel" ngModel name="key" id="searchName" class="form-control mr-sm-2"
        placeholder="Buscar..." required>
    </form>
  </div>
</nav>


<div class="container" id="main-container">
  <div>
    <br>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#adicionarModal">+ Novo</button>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box clearfix">
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
              <tr>
                <th><span>Síndico</span></th>
                <th><span>Bairro</span></th>
                <th class="text-center"><span>Telefone</span></th>
                <th><span>Email</span></th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sind of sindicos">
                <td>
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                  <a href="#" class="user-link" (click)="chamaModal(sind, 'detalhar')">{{sind?.nome}}</a>
                  <span class="user-subhead">Ed. {{sind?.nomeEdificio}}</span>
                </td>
                <td>
                  {{sind?.bairro}}
                </td>
                <td class="text-center">
                  <span class="label label-default">{{sind?.telefone}}</span>
                </td>
                <td>
                  <a href="#">{{sind?.email}}</a>
                </td>
                <td style="width: 20%;">
                  <a href="#" class="table-link" (click)="chamaModal(sind, 'detalhar')">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                  <a href="#" class="table-link" (click)="chamaModal(sind, 'editar')">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                  <a href="#" class="table-link danger" (click)="chamaModal(sind, 'excluir')">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Adicionar Sindico Modal -->
<div class="modal fade" id="adicionarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar Síndico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #adicionaForm="ngForm" (ngSubmit)="adicionarSindico(adicionaForm)">
          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" ngModel name="nome" class="form-control" id="nome" placeholder="Nome" required>
          </div>
          <div class="form-group">
            <label for="name">Nome do Edifício</label>
            <input type="text" ngModel name="nomeEdificio" class="form-control" id="nomeEdificio" placeholder="Nome do Ediício" required>
          </div>
          <div class="form-group">
            <label for="email">Endereço de E-mail</label>
            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="phone">Telefone</label>
            <input type="text" ngModel name="telefone" class="form-control" id="telefone" placeholder="Telefone" required>
          </div>
          <div class="form-group">
            <label for="phone">Logradouro</label>
            <input type="text" ngModel name="logradouro" class="form-control" id="logradouro" placeholder="Logradouro" required>
          </div>
          <div class="form-group">
            <label for="phone">Número</label>
            <input type="text" ngModel name="numero" class="form-control" id="numero" placeholder="Número"
              required>
          </div>
          <div class="form-group">
            <label for="phone">Bairro</label>
            <input type="text" ngModel name="bairro" class="form-control" id="bairro" placeholder="Bairro"
              required>
          </div>
          <div class="form-group">
            <label for="phone">Cidade</label>
            <input type="text" ngModel name="cidade" class="form-control" id="cidade" placeholder="Cidade"
              required>
          </div>
          <div class="modal-footer">
            <button type="button" id="fechar-modal" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button [disabled]="adicionaForm.invalid" type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Detalhar Sindico Modal -->
<div class="modal fade" id="detalharModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalhar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Editar Sindico Modal -->
<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar {{sindicoEditado?.nome}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editaForm="ngForm">
          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" ngModel="{{sindicoEditado?.nome}}" name="nome" class="form-control" id="nome" placeholder="Nome" required>
          </div>
          <input type="hidden" ngModel="{{sindicoEditado?.id}}" name="id" class="form-control" id="nome">
          <div class="form-group">
            <label for="name">Nome do Edifício</label>
            <input type="text" ngModel="{{sindicoEditado?.nomeEdificio}}" name="nomeEdificio" class="form-control" id="nomeEdificio" placeholder="Nome do Ediício" required>
          </div>
          <div class="form-group">
            <label for="email">Endereço de E-mail</label>
            <input type="email" ngModel="{{sindicoEditado?.email}}" name="email" class="form-control" id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="phone">Telefone</label>
            <input type="text" ngModel="{{sindicoEditado?.telefone}}" name="telefone" class="form-control" id="telefone" placeholder="Telefone" required>
          </div>
          <div class="form-group">
            <label for="phone">Logradouro</label>
            <input type="text" ngModel="{{sindicoEditado?.logradouro}}" name="logradouro" class="form-control" id="logradouro" placeholder="Logradouro" required>
          </div>
          <div class="form-group">
            <label for="phone">Número</label>
            <input type="text" ngModel="{{sindicoEditado?.numero}}" name="numero" class="form-control" id="numero" placeholder="Número"
              required>
          </div>
          <div class="form-group">
            <label for="phone">Bairro</label>
            <input type="text" ngModel="{{sindicoEditado?.bairro}}" name="bairro" class="form-control" id="bairro" placeholder="Bairro"
              required>
          </div>
          <div class="form-group">
            <label for="phone">Cidade</label>
            <input type="text" ngModel="{{sindicoEditado?.cidade}}" name="cidade" class="form-control" id="cidade" placeholder="Cidade"
              required>
          </div>
          <div class="modal-footer">
            <button type="button" id="fechar-modal" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button (click)="editarSindico(editaForm.value)" data-dismiss="modal" class="btn btn-primary">Atualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Excluir Sindico Modal -->
<div class="modal fade" id="excluirModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excluir</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <button type="button" class="btn btn-primary">Sim</button>
      </div>
    </div>
  </div>
</div>